.Mobilenavbar{
    background: #001689;
    padding: 10px 15px;
    flex-direction: row!important;
    align-items: center;
    justify-content: space-between;
   position: sticky;
   top: 0;
    @media(min-width:426px) and (max-width:769px){
        padding: 10px 20px;
    }
    @media(min-width:769px) {
        display: none!important;
    }
    .logo{
        width: 30%;
        @media(min-width:426px) and (max-width:769px){
            width: 20%;
        }
        img{
            width: 100%;
        }
    }
    .search{
        color: white;
        font-size: 20px;
        margin-right: 10px;
    }
    .cart{
        color: white;
        font-size: 20px;
        margin-right: 10px;
        i{
            padding-right: 0px;
        }
    }
  
    .menucartholder{
        flex-direction: row!important;
      .menu{
        display: flex;
        transform: rotate(90deg);
        position: relative;
        z-index: 9999;
        div{
            background: white;
            font-size: 20px;
            min-height: 25px;
            width: 3px;
            margin-right: 5px;
            font-weight: bold;
        }
      }
    }
   
}
#basketmobile{
    position: absolute;
    right: 9%;
    width: 240px;
    background: white;
    top: 74px;
    padding: 15px;
    display: none;
    @media(min-width:426px) and (max-width:769px){
        top: 90px;
        right: 7%;
    }
    .basketitem{
        flex-direction: row;
        .priceandqty{
            flex-direction: row;
        }
    }
}
.sidemenu{
    width: 70vw;
    background-color: #001689;
    height: 100vh;
    position: fixed;
    right: -100%;
    top: 0;
    transition: all 0.2s ease-in-out;
    padding: 20px;
    color: white;
    overflow-y: auto;
    .menu-list{
        padding :45px 0px;
    }
    li{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 20px 0px;
        padding-right: 10px;
        font-family: 'klavika-medium';
        border-bottom: 1px solid #d6d6d694;
    }
}
.dropdown-shop,.dropdown-blog,.dropdown-goals{
    display: none;
    h1{
        padding: 10px 0px;
        font-size: 25px;
        &:hover{
            color:#00b6f4;
        }
    }
    li{
        border: none;
        padding: 10px 40px;
    }
}
.dropdown-goals{
    h1{
        padding: 10px 0px;
        font-size: 20px;
    }
    li{
        display: flex;
        flex-direction: column;
        text-align: center;
     
    }
    img{
        width: 100%;
        border-radius: 5px;
    }
}